.step-title {
  text-align: center;
}

.step-instruction {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.step-img {
  text-align: center;
}

.ui-dialog-content {
  width: 75vw;
}
