#canvas-container {
  display: inline-block;
  vertical-align: top;

  //outline: blue solid 2px;
}

#preview-3d-container {
  //outline: blue solid 2px;
  display: inline-block;
  vertical-align: top;
}

#toolbar-container {

  //outline: blue solid 2px;

}

.editor-container {
  margin: auto;
  text-align: center;
}

.p-col-fixed {
  padding: 0px;
}
