<app-loading></app-loading>
<div class="layout-wrapper" [ngClass]="{'layout-horizontal': true,
    'layout-menu-light': true,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive}" [class]="topbarColor" (click)="onLayoutClick()">
  <app-topbar></app-topbar>

  <app-menu></app-menu>

  <div class="layout-main">
    <div class="layout-content">
      <p-messages></p-messages>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--<div class="footer-spacer">-->
  <!--</div>-->
  <!--<div class="layout-footer">-->
    <!--<app-footer></app-footer>-->
  <!--</div>-->
</div>
